.appTitle{
    width: 395px !important;
height: 67px !important;
top: 418px !important;
left: 180px !important;
gap: 0px !important;
opacity: 0px !important;
font-size: 50px;

}

.subline{
    font-family: Poppins;
font-size: 17px;
font-weight: 600;
line-height: 25.5px;
text-align: justified;
color: #C8C8C8;
}

